.masonry {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  overflow: hidden;
}

.item {
  position: relative;
  /* height: "auto"; */
  /* width: "auto"; */
  /* min-width: 100%; */
  /* background: #ec985a; */
  color: white;
  flex: 1 0 100%;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .item {
    flex: 1 0 auto;
  }
}
@media only screen and (min-width: 1024px) {
  .item {
    flex: 1 0 auto;
  }
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms,
    transform 300ms;
}
