@import 'tailwindcss';

/* @media (prefers-color-scheme: dark) {

} */

@theme {
  --color-main: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--border);
  --color-color-primary: var(--text-primary);
  --color-color-secondary: var(--text-secondary);

  --color-dragon-ball: var(--dragon-ball-bg);
  --color-dragon-ball-border: var(--dragon-ball-border);
  --color-dragon-ball-primary: var(--dragon-ball-primary);
  --color-dragon-ball-secondary: var(--dragon-ball-secondary);

  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

:root {
  --background: #fbfbfb;
  --border: #fff1c1;
  --text-primary: #4780ff;
  --text-secondary: #808b97;

  --dragon-ball-bg: #f4f4f4;
  --dragon-ball-border: #ffd300;
  --dragon-ball-primary: #ff7800;
  --dragon-ball-secondary: #2e4b9c;
}

/* ? this is not important because I handle only two mode */
/* .light {
  --background: #fbfbfb;
  --border: #fff1c1;
  --text-primary: #78b7bb;
  --text-secondary: #808b97;
} */

.dark {
  --background: #222831;
  --border: #393e46;
  --text-primary: #ffd369;
  --text-secondary: #eeeeee;

  --dragon-ball-bg: #0d0d0d;
  --dragon-ball-border: #ffdd55;
  --dragon-ball-primary: #ff9b26;
  --dragon-ball-secondary: #4466c9;
}

* {
  @apply transition-colors duration-300;
}
