@import 'tailwindcss';

/* @media (prefers-color-scheme: dark) {

} */

@theme {
  --color-main: var(--background);
  --color-foreground: var(--foreground);
  --color-color-primary: var(--text-primary);
  --color-color-secondary: var(--text-secondary);
}

:root {
  --background: #fbfbfb;
  --border: #fff1c1;
  --text-primary: #4780ff;
  --text-secondary: #808b97;
}

/* ? this is not important because I handle only two mode */
/* .light {
  --background: #fbfbfb;
  --border: #fff1c1;
  --text-primary: #78b7bb;
  --text-secondary: #808b97;
} */

.dark {
  --background: #222831;
  --border: #393e46;
  --text-primary: #ffd369;
  --text-secondary: #eeeeee;
}

* {
  @apply transition-colors duration-300;
}
